:root {
    --shared-bg-color: #ffffff;
    --text-color: #333333;
    --select-bg-color: #ffffff;
    --select-text-color: #333333;
    --link-color: #619461;
    --background-color: #f0f4f8;
    --countdown-bg-color: #ffffff;
    --countdown-text-color: #000000;
    --button-bg-color: #619461;
    --button-hover-bg-color: #517b51;
    --exit-button-bg-color: rgba(255, 77, 77, 0.88);
    --exit-button-hover-bg-color: rgba(204, 0, 0, 0.88);
    --header-text-color: #333333;
    --card-bg-color: #ffffff;
    --card-box-shadow: rgba(0, 0, 0, 0.1);
}
