/* themes/default.css */

:root {
    --background-color: #f0f4f8;
    --text-color: #333333;
    --button-bg-color: #007BFF;
    --button-hover-bg-color: #0056b3;
    --countdown-bg-color: #ffffff;
    --countdown-text-color: #333333;
    --header-bg-color: #3e3d32;
    --header-text-color: #333333;
    --select-bg-color: #ffffff;
    --select-text-color: #333333;
    --exit-button-bg-color: rgba(255, 77, 77, 0.8);
    --exit-button-hover-bg-color: rgba(204, 0, 0, 0.8);
}
