:root {
    --shared-bg-color: #272822;
    --text-color: #f8f8f2;
    --select-bg-color: #3e3d32;
    --select-text-color: #f8f8f2;
    --link-color: #bca14a;
    --background-color: #272822;
    --countdown-bg-color: #3e3d32;
    --countdown-text-color: #f8f8f2;
    --button-bg-color: #9f8840;
    --button-hover-bg-color: #8f7939;
    --exit-button-bg-color: rgba(255, 92, 92, 0.88);
    --exit-button-hover-bg-color: rgba(214, 52, 52, 0.92);
    --header-text-color: #f8f8f2;
    --card-bg-color: #3e3d32;
    --card-box-shadow: rgba(0, 0, 0, 0.3);
}
