:root {
    --shared-bg-color: #ffeef0;
    --text-color: #333333;
    --select-bg-color: #fff2f5;
    --select-text-color: #333333;
    --link-color: #be6f97;
    --background-color: #fce8f0;
    --countdown-bg-color: #ffeef0;
    --countdown-text-color: #c04b86;
    --button-bg-color: #cc6196;
    --button-hover-bg-color: #b95688;
    --exit-button-bg-color: rgba(255, 92, 92, 0.88);
    --exit-button-hover-bg-color: rgba(214, 52, 52, 0.92);
    --header-text-color: #333333;
    --card-bg-color: #ffeef0;
    --card-box-shadow: rgba(0, 0, 0, 0.1);
}
