/* themes/solarized.css */

:root {
    --background-color: #fdf6e3;
    --text-color: #657b83;
    --button-bg-color: #268bd2;
    --button-hover-bg-color: #00629b;
    --countdown-bg-color: #eee8d5;
    --countdown-text-color: #586e75;
    --header-text-color: #586e75;
    --select-bg-color: #eee8d5;
    --select-text-color: #586e75;
    --exit-button-bg-color: rgba(255, 77, 77, 0.8);
    --exit-button-hover-bg-color: rgba(204, 0, 0, 0.8);
}
